* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none;
  display: inline-block; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

p {
  font-family: 'Rubik', sans-serif; }

i {
  display: inline-block;
  padding: 0; }

body {
  overflow-x: hidden;
  font-size: 15px;
  background-color: #F6F7FB;
  color: #53627d;
  font-family: 'Public Sans', sans-serif; }

.btn:focus {
  outline: 0;
  box-shadow: none; }

.btn-back .btn-back-pos {
  top: -30px;
  right: 0;
  width: 30px;
  border-radius: 20px 0 0 20px;
  transition: .6s;
  color: white;
  background-color: #019289;
  box-sizing: border-box; }

.btn-back .btn-back-pos .combo {
  width: 150px;
  display: flex;
  align-items: center; }

.btn-back .btn-back-pos:hover {
  width: 80px; }

.btn-back .btn-back-pos i {
  font-size: 18px;
  padding: 5px 1px 5px 5px; }

.btn-back a span {
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  transition: 0.6s ease-out; }

.form-element input,
.form-element textarea,
.form-element select,
.form-element .upload-box label {
  height: 35px;
  border: 1px solid #ced4da;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 400; }
  .form-element input:hover,
  .form-element textarea:hover,
  .form-element select:hover,
  .form-element .upload-box label:hover {
    border-color: #ffce43e8 !important;
    box-shadow: 0 0 5px #ffce43e8 !important; }
  .form-element input:focus,
  .form-element textarea:focus,
  .form-element select:focus,
  .form-element .upload-box label:focus {
    border-color: #32c861 !important;
    box-shadow: 0 0 5px #ffce43e8 !important; }

.status span {
  padding: 5px 10px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400; }

.status.status-active span {
  background-color: rgba(42, 255, 0, 0.7);
  color: #000000; }

.status.status-deactive span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #000000; }

.status.status-pending span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #303030; }

.status.status-success span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733; }

.status.status-approve span {
  background-color: rgba(3, 148, 135, 0.15);
  color: #039487; }

.status.status-processing span {
  background-color: rgba(255, 221, 0, 0.15);
  color: #909308; }

.status.status-shipped span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733; }

.status.status-delivered span {
  background-color: rgba(68, 0, 255, 0.15);
  color: #081d93; }

.status.status-danger span {
  background-color: rgba(226, 36, 84, 0.15);
  color: #e22454; }

.alert-box {
  width: 500px;
  margin-bottom: 30px; }
  .alert-box i {
    color: white;
    top: 50%;
    width: 30px;
    left: 15px;
    font-size: 30px;
    line-height: 28px;
    transform: translate(0%, -50%);
    height: 30px;
    background: red;
    border-radius: 50%; }
  .alert-box .alert-list {
    color: #000000;
    padding: 20px;
    background: #FBFBED;
    border: 4px solid #ffa53b;
    border-left: 60px solid #ffa53b;
    border-radius: 2px;
    min-height: 150px; }
    .alert-box .alert-list h5 {
      padding-bottom: 10px; }
    .alert-box .alert-list h6 {
      padding-bottom: 5px; }
    .alert-box .alert-list li {
      padding-left: 20px; }

.border-block {
  background-color: #fff;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px #00000026; }
  .border-block .label-text {
    margin-bottom: 24px; }

.submit-btn {
  background-color: #019289;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none;
  display: inline-block; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

p {
  font-family: 'Rubik', sans-serif; }

i {
  display: inline-block;
  padding: 0; }

body {
  overflow-x: hidden;
  font-size: 15px;
  background-color: #F6F7FB;
  color: #53627d;
  font-family: 'Public Sans', sans-serif; }

.btn:focus {
  outline: 0;
  box-shadow: none; }

.btn-back .btn-back-pos {
  top: -30px;
  right: 0;
  width: 30px;
  border-radius: 20px 0 0 20px;
  transition: .6s;
  color: white;
  background-color: #019289;
  box-sizing: border-box; }

.btn-back .btn-back-pos .combo {
  width: 150px;
  display: flex;
  align-items: center; }

.btn-back .btn-back-pos:hover {
  width: 80px; }

.btn-back .btn-back-pos i {
  font-size: 18px;
  padding: 5px 1px 5px 5px; }

.btn-back a span {
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  transition: 0.6s ease-out; }

.form-element input,
.form-element textarea,
.form-element select,
.form-element .upload-box label {
  height: 35px;
  border: 1px solid #ced4da;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 400; }
  .form-element input:hover,
  .form-element textarea:hover,
  .form-element select:hover,
  .form-element .upload-box label:hover {
    border-color: #ffce43e8 !important;
    box-shadow: 0 0 5px #ffce43e8 !important; }
  .form-element input:focus,
  .form-element textarea:focus,
  .form-element select:focus,
  .form-element .upload-box label:focus {
    border-color: #32c861 !important;
    box-shadow: 0 0 5px #ffce43e8 !important; }

.status span {
  padding: 5px 10px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400; }

.status.status-active span {
  background-color: rgba(42, 255, 0, 0.7);
  color: #000000; }

.status.status-deactive span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #000000; }

.status.status-pending span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #303030; }

.status.status-success span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733; }

.status.status-approve span {
  background-color: rgba(3, 148, 135, 0.15);
  color: #039487; }

.status.status-processing span {
  background-color: rgba(255, 221, 0, 0.15);
  color: #909308; }

.status.status-shipped span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733; }

.status.status-delivered span {
  background-color: rgba(68, 0, 255, 0.15);
  color: #081d93; }

.status.status-danger span {
  background-color: rgba(226, 36, 84, 0.15);
  color: #e22454; }

.alert-box {
  width: 500px;
  margin-bottom: 30px; }
  .alert-box i {
    color: white;
    top: 50%;
    width: 30px;
    left: 15px;
    font-size: 30px;
    line-height: 28px;
    transform: translate(0%, -50%);
    height: 30px;
    background: red;
    border-radius: 50%; }
  .alert-box .alert-list {
    color: #000000;
    padding: 20px;
    background: #FBFBED;
    border: 4px solid #ffa53b;
    border-left: 60px solid #ffa53b;
    border-radius: 2px;
    min-height: 150px; }
    .alert-box .alert-list h5 {
      padding-bottom: 10px; }
    .alert-box .alert-list h6 {
      padding-bottom: 5px; }
    .alert-box .alert-list li {
      padding-left: 20px; }

.border-block {
  background-color: #fff;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px #00000026; }
  .border-block .label-text {
    margin-bottom: 24px; }

.submit-btn {
  background-color: #019289;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  color: #fff; }

.inner-content {
  margin: 0 0 30px;
  position: relative; }

.form-element label {
  font-size: 14px;
  font-weight: 500;
  color: #404E67;
  margin-bottom: 5px; }
  .form-element label i {
    cursor: pointer;
    color: #019289; }
  .form-element label .floating-tooltip {
    width: 170px;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    left: 24px;
    top: -6px;
    font-size: 13px;
    z-index: 99; }
    .form-element label .floating-tooltip::before {
      width: 10px;
      height: 10px;
      background-color: #DC3545;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      transform: translateY(-50%) rotate(45deg);
      content: ""; }
.form-element input {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  transition: all linear .2s;
  background-color: #fff; }
  .form-element input:focus {
    border-color: #00BCD4; }
.form-element .file-input {
  padding: 5px; }

.media-block {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 5px; }
  .media-block .image {
    width: 150px;
    height: 150px;
    margin: 0 auto; }
    .media-block .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
    .media-block .image .upload-box {
      position: absolute;
      bottom: 0;
      right: 0; }
      .media-block .image .upload-box i {
        width: 35px;
        height: 35px;
        background-color: #00AFF0;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 14px; }

.file-upload {
  width: 160px;
  background-color: #f1f1f1;
  border: 1px solid #53627d;
  border-radius: 5px;
  padding: 16px; }
  .file-upload .image {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px; }
    .file-upload .image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center; }
  .file-upload .upload-box label {
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #777EDD;
    color: #fff;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px; }

.form-label {
  color: #404E67; }

.form-check .form-check-label {
  color: #404E67; }

.cmn__btn {
  height: 35px;
  border: 0;
  border-radius: 3px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-color: #019289;
  color: #fff; }
  .cmn__btn .bi-plus {
    font-size: 25px !important; }

.cmn-delete {
  background-color: #F1556C; }
  .cmn-delete i {
    font-size: 18px; }

.form-check-input:checked {
  background-color: #019289;
  border-color: #019289; }

div[aria-hidden="true"] {
  color: red; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch input {
    display: none; }
    .switch input:checked + .switch-state {
      background-color: #019289; }
      .switch input:checked + .switch-state::before {
        transform: translateX(26px); }
  .switch .switch-state {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    background-color: #b1b1b1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s; }
    .switch .switch-state:before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: .4s;
      border-radius: 20px; }

.form-element {
  margin-bottom: 20px; }
  .form-element select {
    padding-right: 40px; }
    .form-element select:focus {
      border-color: #00BCD4; }

.feature-block .form-element,
.video-block .form-element {
  margin-bottom: 0 !important; }

.search-btn {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: center;
  height: 35px;
  padding: 0 22px;
  width: 70px;
  line-height: 40px;
  overflow: hidden;
  background: #FFA53B;
  transition: all 0.5s ease;
  border: none;
  color: #fff !important;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 20px; }
  .search-btn:hover {
    color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  .search-btn .btn-front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.8s ease; }
    .search-btn .btn-front:hover {
      transform: scale(0); }
  .search-btn .btn-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(4);
    transition: all 0.8s ease;
    opacity: 0; }
    .search-btn .btn-back:hover {
      transform: scale(1);
      opacity: 1; }

.add-btn {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: center;
  height: 40px;
  padding: 0 15px;
  width: 160px;
  line-height: 40px;
  overflow: hidden;
  background: #404E67;
  transition: all 0.5s ease;
  border: none;
  color: #fff !important; }
  .add-btn i {
    font-size: 18px;
    padding-right: 5px; }
  .add-btn:hover {
    background: #F1556C !important;
    color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  .add-btn .btn-front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.8s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    padding: 0 15px; }
    .add-btn .btn-front:hover {
      transform: scale(0);
      color: #fff;
      background: #F1556C; }
  .add-btn .btn-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(4);
    transition: all 0.8s ease;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    padding: 0 15px; }
    .add-btn .btn-back:hover {
      transform: scale(1);
      opacity: 1;
      color: #fff;
      background: #F1556C; }

.back-btn {
  background-color: #00BCD4;
  padding: 5px 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0; }
  .back-btn .animate-btn {
    animation: animate_btn 1.5s infinite linear; }
@keyframes animate_btn {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  50% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-100%);
    opacity: 0; } }
.print-option ul li {
  display: inline-block;
  margin-left: 4px; }
  .print-option ul li a {
    color: #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #777EDD;
    text-align: center;
    line-height: 30px;
    padding: 0; }
  .print-option ul li button {
    color: #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #777EDD;
    text-align: center;
    line-height: 30px;
    padding: 0;
    border: none; }
  .print-option ul li .pdf {
    background-color: #F1556C; }
  .print-option ul li .excel {
    background-color: #02C0CE; }

.table-list thead {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: #019289; }
  .table-list thead th:first-child {
    text-align: center; }
.table-list .title {
  padding-bottom: 12px; }
.table-list tbody td {
  padding: .3rem .5rem; }
.table-list tbody td:first-child {
  text-align: center; }
.table-list h4 {
  font-size: 17px;
  color: #404E67; }
.table-list th {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #fff; }
  .table-list th .table-title {
    position: relative;
    display: inline-block; }
  .table-list th i {
    position: absolute;
    right: -15px;
    cursor: pointer;
    font-size: 9px; }
  .table-list th .sort-up {
    top: 1px; }
  .table-list th .sort-down {
    bottom: 1px; }
.table-list tr {
  vertical-align: middle; }
.table-list td {
  color: #555;
  font-weight: 400;
  font-size: 14px;
  text-align: center; }
.table-list .table-image img {
  width: 50px; }
.table-list .released {
  background-color: #FF5B5B;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px; }
.table-list .released.pending {
  background-color: #00BCD4; }
.table-list .released.in-progress {
  background-color: #5B69BC; }
.table-list .released.comming {
  background-color: #188AE2; }
.table-list .released.finish {
  background-color: #F9BC0B; }

.table-list-body {
  overflow-y: scroll;
  height: 400px;
  scrollbar-width: thin;
  scrollbar-color: #01B3B7 transparent; }
  .table-list-body::-webkit-scrollbar {
    width: 8px; }
  .table-list-body::-webkit-scrollbar-thumb {
    background-color: #01B3B7;
    border-radius: 10px; }

.list-footer {
  padding: 40px 0;
  border-top: 1px solid #f2f2f2;
  margin-top: 40px; }
  .list-footer p {
    color: #404E67;
    font-size: 15px;
    font-weight: 400; }

.pagination ul li {
  display: inline-block;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1); }

.pagination ul li a {
  color: #a2d5d2; }

.pagination ul li.arrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0 6px; }

.pagination ul li.arrow:last-child {
  margin-right: 0; }

.pagination ul li.mid-pagi {
  padding: 0 20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px; }

.pagination ul li.mid-pagi a {
  margin: 0 10px;
  color: #a2d5d2; }

.pagination ul li.mid-pagi a.active {
  width: 25px;
  height: 25px;
  background-color: #019289;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3); }

.delete {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
  transition: all linear .2s;
  font-size: 12px;
  margin: 0 2px;
  background-color: #f5f8fa; }

.delete-btn {
  border: 1px solid #F1556C;
  color: #F1556C; }
  .delete-btn:hover {
    background-color: #F1556C;
    color: #fff; }

.view {
  border: 1px solid #777EDD;
  color: #777EDD; }
  .view:hover {
    background-color: #777EDD;
    color: #fff; }

.edit {
  border: 1px solid #02C0CE;
  color: #02C0CE; }
  .edit:hover {
    background-color: #02C0CE;
    color: #fff; }

.locate {
  border: 1px solid #0ACF97;
  color: #0ACF97; }
  .locate:hover {
    background-color: #0ACF97;
    color: #fff; }

.sorting-data .sort-number {
  height: 30px;
  border-radius: 2px; }

.search-section {
  padding: 20px;
  background-color: rgba(241, 241, 255, 0.5);
  box-shadow: 0 1px 3px #00000026; }

.view-page .left-info {
  background-color: #fff;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 20px; }
.view-page .image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto; }
  .view-page .image img {
    height: 100%;
    object-fit: cover;
    object-position: center; }
.view-page .file {
  margin-top: 30px;
  text-align: center; }
  .view-page .file a {
    color: #00BCD4;
    font-size: 18px;
    font-weight: 500; }

.item-about .image {
  width: 100%;
  height: 300px; }
  .item-about .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.border-block.item-view {
  background-color: rgba(241, 241, 255, 0.5);
  border: 1px solid; }
  .border-block.item-view .info {
    position: relative; }
    .border-block.item-view .info .label-text {
      position: absolute;
      top: -50px;
      left: 14px;
      font-size: 18px;
      color: #000;
      border: 1px solid #ffce43e8;
      background-color: #fff;
      padding: 7px 15px;
      font-weight: 500; }
    .border-block.item-view .info table {
      padding-top: 20px;
      width: 100%; }
      .border-block.item-view .info table tbody tr td:first-child {
        width: 40%; }
      .border-block.item-view .info table tbody tr td:nth-child(odd) {
        padding: 5px 20px;
        font-size: 16px;
        font-weight: 500; }
      .border-block.item-view .info table tbody tr td:nth-child(even) {
        padding: 5px 20px;
        text-align: center;
        width: 8%; }
  .border-block.item-view .image {
    height: 300px;
    width: 100%; }
    .border-block.item-view .image img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.employee-profile-page .view-profile .contact-info {
  padding: 0; }
  .employee-profile-page .view-profile .contact-info ul li {
    padding-left: 0;
    line-height: 32px; }
.employee-profile-page .employee-profile-search {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #53627d; }

.employee-reacord-search-result .image {
  width: 500px;
  margin: 0 auto; }

.searchable-employee-profile {
  background-color: #f5f5f5;
  padding: 20px; }
  .searchable-employee-profile .main-info {
    background-color: #00BCD4;
    padding: 24px;
    position: relative;
    border-radius: 3px;
    width: 90%;
    margin-left: auto; }
    .searchable-employee-profile .main-info .title {
      position: absolute;
      background-color: #fff;
      color: #404E67;
      transform: rotate(-90deg);
      position: absolute;
      top: 44px;
      border-radius: 3px;
      left: -89px;
      font-size: 18px;
      padding: 13px 29px;
      font-weight: 600;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
    .searchable-employee-profile .main-info .image {
      width: 100px;
      border-radius: 50%;
      height: 100px;
      border: 3px solid #fff;
      position: absolute;
      top: 20px;
      left: 20px; }
      .searchable-employee-profile .main-info .image img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .searchable-employee-profile .main-info .text {
      padding-left: 120px; }
      .searchable-employee-profile .main-info .text ul li {
        color: #fff;
        line-height: 22px; }

.single-form-search-record {
  background-color: #f5f5f5;
  margin-top: 24px;
  padding: 24px; }
  .single-form-search-record .inner-border {
    border: 1px solid #404E67;
    position: relative;
    padding: 24px; }
    .single-form-search-record .inner-border .title {
      position: absolute;
      top: -17px;
      left: 14px;
      font-size: 18px;
      color: #000;
      background-color: #f5f5f5;
      padding: 3px 15px;
      font-weight: 500; }
    .single-form-search-record .inner-border .top-field-option {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #404E67; }
      .single-form-search-record .inner-border .top-field-option .numbers .number-box {
        position: relative; }
        .single-form-search-record .inner-border .top-field-option .numbers .number-box::before {
          position: absolute;
          right: -42px;
          top: 28px;
          background-color: #404E67;
          width: 1px;
          height: 39px;
          content: ""; }
        .single-form-search-record .inner-border .top-field-option .numbers .number-box span {
          font-size: 15px;
          font-weight: 500; }
        .single-form-search-record .inner-border .top-field-option .numbers .number-box h1 {
          font-size: 46px;
          font-weight: 700;
          color: #404E67; }
        .single-form-search-record .inner-border .top-field-option .numbers .number-box h3 {
          font-size: 26px;
          font-weight: 700;
          color: #404E67; }
        .single-form-search-record .inner-border .top-field-option .numbers .number-box:last-child::before {
          display: none; }
      .single-form-search-record .inner-border .top-field-option .numbers .number-box + .number-box {
        margin-left: 80px; }
    .single-form-search-record .inner-border .append-field-option {
      margin-top: 20px; }
    .single-form-search-record .inner-border .reference-boxes {
      background-color: #fff;
      padding: 20px; }
      .single-form-search-record .inner-border .reference-boxes .single-box {
        margin-bottom: 20px; }
        .single-form-search-record .inner-border .reference-boxes .single-box h4 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px; }
        .single-form-search-record .inner-border .reference-boxes .single-box .cmn-btn {
          height: 40px;
          border: 0;
          border-radius: 3px;
          width: 38px;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          background-color: #00BCD4;
          color: #fff; }
        .single-form-search-record .inner-border .reference-boxes .single-box .cmn-btn.delete {
          background-color: #F1556C; }
    .single-form-search-record .inner-border .status-boxes h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px; }

.delete {
  margin: 0 !important; }

.arrows-input-groups input {
  padding-right: 45px; }
.arrows-input-groups button {
  border: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #02C0CE;
  color: #fff;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px; }

.group-form-search-record {
  background-color: #f5f5f5;
  padding: 24px; }
  .group-form-search-record .inner-border {
    border: 1px solid #404E67;
    position: relative;
    padding: 24px; }
    .group-form-search-record .inner-border .title {
      position: absolute;
      top: -17px;
      left: 14px;
      font-size: 18px;
      color: #000;
      background-color: #f5f5f5;
      padding: 3px 15px;
      font-weight: 500; }
    .group-form-search-record .inner-border .top-field-option {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #404E67; }
      .group-form-search-record .inner-border .top-field-option .numbers .number-box {
        position: relative; }
        .group-form-search-record .inner-border .top-field-option .numbers .number-box::before {
          position: absolute;
          right: -42px;
          top: 28px;
          background-color: #404E67;
          width: 1px;
          height: 39px;
          content: ""; }
        .group-form-search-record .inner-border .top-field-option .numbers .number-box span {
          font-size: 15px;
          font-weight: 500; }
        .group-form-search-record .inner-border .top-field-option .numbers .number-box h1 {
          font-size: 46px;
          font-weight: 700;
          color: #404E67; }
        .group-form-search-record .inner-border .top-field-option .numbers .number-box h3 {
          font-size: 26px;
          font-weight: 700;
          color: #404E67; }
        .group-form-search-record .inner-border .top-field-option .numbers .number-box:last-child::before {
          display: none; }
      .group-form-search-record .inner-border .top-field-option .numbers .number-box + .number-box {
        margin-left: 80px; }
    .group-form-search-record .inner-border .status-boxes {
      margin-top: 20px; }
    .group-form-search-record .inner-border .reference-boxes {
      background-color: #fff;
      padding: 20px;
      margin-top: 20px; }
      .group-form-search-record .inner-border .reference-boxes .single-box {
        margin-bottom: 20px; }
        .group-form-search-record .inner-border .reference-boxes .single-box h4 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px; }
        .group-form-search-record .inner-border .reference-boxes .single-box .cmn-btn {
          height: 40px;
          border: 0;
          border-radius: 3px;
          width: 38px;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          background-color: #00BCD4;
          color: #fff; }
        .group-form-search-record .inner-border .reference-boxes .single-box .cmn-btn.delete {
          background-color: #F1556C; }
    .group-form-search-record .inner-border .status-boxes h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px; }

.searchable-employee-profile-list table thead {
  color: #fff;
  background: #02C0CE; }
.searchable-employee-profile-list table tbody td {
  vertical-align: middle;
  background-color: #f5f5f5; }
.searchable-employee-profile-list table tbody .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; }
.searchable-employee-profile-list table tbody .delete-btn {
  height: 32px;
  border: 0;
  border-radius: 3px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  background-color: #F1556C;
  color: #fff; }

.dashboard-shortcut-button {
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 1px 20px 0 #455a6414;
  border-radius: 5px; }
  .dashboard-shortcut-button ul {
    display: flex; }
    .dashboard-shortcut-button ul li {
      width: 25%; }
      .dashboard-shortcut-button ul li .list-btn {
        background-color: #0ACF97;
        display: block;
        padding: 16px 30px;
        border-radius: 4px;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        margin: 0 8px !important; }
        .dashboard-shortcut-button ul li .list-btn i {
          width: 70px;
          font-size: 24px;
          height: 70px;
          border-radius: 50%;
          background-color: #fff;
          color: #0ACF97;
          text-align: center;
          line-height: 70px;
          margin-right: 14px; }
      .dashboard-shortcut-button ul li:nth-child(2) .list-btn {
        background-color: #F1556C; }
      .dashboard-shortcut-button ul li:nth-child(3) .list-btn {
        background-color: #777EDD; }
      .dashboard-shortcut-button ul li:nth-child(4) .list-btn {
        background-color: #32c861; }

.pie-chart-information {
  height: 590px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 20px 0 #455a6414;
  padding: 24px; }
  .pie-chart-information .title {
    margin-bottom: 10px; }
  .pie-chart-information h4 {
    font-size: 17px;
    color: #404E67; }

.bar-chart-information {
  height: 590px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 20px 0 #455a6414;
  padding: 24px; }
  .bar-chart-information .title {
    margin-bottom: 10px; }
  .bar-chart-information h4 {
    font-size: 17px;
    color: #404E67; }

.last-10-genform {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 20px 0 #455a6414;
  padding: 24px; }

.last-10-genform .title {
  margin-bottom: 10px; }
  .last-10-genform .title h4 {
    font-size: 17px;
    color: #404E67; }

.total-sailor-statistics {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 20px 0 #455a6414;
  padding: 24px; }

.total-sailor-statistics .title {
  margin-bottom: 10px; }
.total-sailor-statistics h4 {
  font-size: 17px;
  color: #404E67; }
.total-sailor-statistics .summery-item {
  padding: 25px 24px !important; }
  .total-sailor-statistics .summery-item h4 {
    font-size: 17px !important;
    text-transform: capitalize !important; }
  .total-sailor-statistics .summery-item h3 {
    font-size: 32px !important;
    padding-bottom: 0 !important; }

.all-navy-dashboard-info .pie-chart-information {
  height: 401px; }
  .all-navy-dashboard-info .pie-chart-information canvas {
    height: 300px !important;
    width: 300px !important; }
.all-navy-dashboard-info .last-10-genform {
  height: 400px; }

.add-product-form .border-block {
  border: 1px solid #82888d;
  background-color: rgba(241, 241, 255, 0.5);
  position: relative; }
  .add-product-form .border-block .label-text {
    position: absolute;
    top: -20px;
    left: 14px;
    font-size: 18px;
    color: #000;
    border: 1px solid #ffce43e8;
    background-color: #fff;
    padding: 7px 15px;
    font-weight: 500; }
.add-product-form .product-block {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 50px; }

.product-other-info {
  background-color: #f5f5f5;
  border-top: 3px solid #777EDD;
  border-radius: 5px; }
  .product-other-info tbody {
    border-top: 0 !important; }
  .product-other-info thead {
    background-color: #777EDD;
    color: #fff; }
  .product-other-info td {
    vertical-align: middle; }
  .product-other-info h5 {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    padding: 14px 24px; }
  .product-other-info .main-info {
    padding: 24px; }

.product-record {
  background-color: #777EDD;
  padding: 8px 16px;
  color: #fff;
  border-radius: 3px; }
  .product-record:hover {
    color: #fff !important; }

.add-category-form .border-block {
  background-color: rgba(241, 241, 255, 0.5); }
.add-category-form .category-block {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 50px; }
.add-category-form .submit-btn {
  background-color: #F1556C;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  border-radius: 3px; }

.search-div {
  margin-bottom: 24px;
  width: 100%; }

.template-div {
  box-shadow: 0 1px 20px 0 #455a646b;
  padding: 20px; }

.status-pending h3 {
  font-size: 20px;
  color: #303030; }
.status-pending h4 {
  font-size: 24px;
  color: #131111; }

.status-approve h3 {
  font-size: 20px;
  color: #01c500; }
.status-approve h4 {
  font-size: 24px;
  color: #007a0a; }

.status-process h3 {
  font-size: 20px;
  color: #ffca00; }
.status-process h4 {
  font-size: 24px;
  color: #d9a200; }

.status-ship h3 {
  font-size: 20px;
  color: #00c5a2; }
.status-ship h4 {
  font-size: 24px;
  color: #009177; }

.status-deliver h3 {
  font-size: 20px;
  color: #0020d7; }
.status-deliver h4 {
  font-size: 24px;
  color: #041eaf; }

.status-cancel h3 {
  font-size: 20px;
  color: #e22424; }
.status-cancel h4 {
  font-size: 24px;
  color: #d10202; }

.icon {
  width: 40px;
  height: 40px; }

/*# sourceMappingURL=main.css.map */
