@import "../variable/bgcolor";
@import "../variable/textcolor";

.inner-content {
  // background-color: $lightColor;
  padding: 30px;
  margin: 0 0 30px;
  position: relative;
}

.form-element {
  label {
    font-size: 14px;
    font-weight: 500;
    color: $darkColor;
    margin-bottom: 5px;

    i {
      cursor: pointer;
      color: $sidebarBgColor;
    }

    .floating-tooltip {
      width: 170px;
      padding: 4px 8px;
      border-radius: 5px;
      display: inline-block;
      left: 24px;
      top: -6px;
      font-size: 13px;
      z-index: 99;

      &::before {
        width: 10px;
        height: 10px;
        background-color: #DC3545;
        position: absolute;
        // top: 50%;
        // left: -4px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        transform: translateY(-50%) rotate(45deg);
        content: "";
      }
    }
  }

  input {
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    transition: all linear .2s;
    background-color: $lightColor;

    &:focus {
      border-color: $themeColorFour;
    }
  }
.file-input {
  padding: 5px;
}
}

// .tooltip-arrow,
// .tooltip>.tooltip-inner {
//   background-color: red;
// }

.form-element {
  .image-box {
    width: 50%;
      height: 200px;
      border-radius: 20px;

    img {
      border-radius: 20px;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      transition: all linear .2s;
      opacity: 0;

      .close {
        color: $lightColor;
        font-size: 24px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }

  .upload-box {
    // margin-left: 24px;
    flex-grow: 1;

    label {
      width: 100%;
      color: $lightDarkColor;
      text-align: center;
      border-radius: 5px;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $lightColor;

      i {
        font-size: 24px;
        line-height: 1;
        margin-right: 10px;
      }
    }
  }

}

.file-upload {
  width: 160px;
  background-color: #f1f1f1;
  border: 1px solid $lightDarkColor;
  border-radius: 5px;
  padding: 16px;

  .image {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .upload-box {
    label {
      text-align: center;
      cursor: pointer;
      width: 100%;
      display: block;
      background-color: $themeColorFive;
      color: $lightColor;
      padding: 7px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 5px;
    }
  }
}

.form-label {
  color: #404E67;
}

.form-check {
  .form-check-label {
    color: #404E67;
  }
}
.cmn__btn {
  height: 35px;
  border: 0;
  border-radius: 3px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-color: $sidebarBgColor;
  color: #fff;

  .bi-plus {
    font-size: 25px !important;
  }
}

.cmn-delete {
  background-color: #F1556C;

  i {
    font-size: 18px;
  }
}

// radio button
.form-check-input:checked {
  background-color: $sidebarBgColor;
  border-color: $sidebarBgColor;
}

div[aria-hidden="true"] {
  color: red;
}


// switch button
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;

    &:checked+.switch-state {
      background-color: $sidebarBgColor;

      &::before {
        transform: translateX(26px);
      }
    }
  }

  .switch-state {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    background-color: #b1b1b1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;

    &:before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: .4s;
      border-radius: 20px;
    }
  }
}