@import "../variable/bgcolor";
@import "../variable/textcolor";

.add-category-form {
  .border-block{
    // border: 1px solid $commonBorderColor1;
    background-color: $lightColor1;
  }
  .category-block {
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 50px;
  }

  .submit-btn {
    background-color: $themeColorThree;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    color: $lightColor;
    border-radius: 3px;
  }
}
