@import "../variable/bgcolor";
@import "../variable/textcolor";

.cmn__btn {
  height: 40px;
  border: 0;
  border-radius: 3px;
  width: 38px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #00BCD4;
  color: #fff;

  .bi-plus {
    font-size: 22px !important;
  }
}

.cmn__btn.delete {
  background-color: #F1556C;
}