@import "../variable/bgcolor";
@import "../variable/textcolor";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-family: 'Rubik', sans-serif;
}

i {
  display: inline-block;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 15px;
  background-color: #F6F7FB;
  color: $lightDarkColor;
  font-family: 'Public Sans',
  sans-serif;
  }

  .btn:focus {
    outline: 0;
    box-shadow: none;
}
// add or back button
.btn-back .btn-back-pos {
  top: -30px;
  right: 0;
  width: 30px;
  border-radius: 20px 0 0 20px;
  transition: .6s;
  color: white;
  background-color: $sidebarBgColor;
  box-sizing: border-box;
}

.btn-back .btn-back-pos .combo {
  width: 150px;
  display: flex;

  align-items: center;
}

.btn-back .btn-back-pos:hover {
  width: 80px;
}

.btn-back .btn-back-pos i {
  font-size: 18px;
  padding: 5px 1px 5px 5px;
}

.btn-back a span {
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  transition: 0.6s ease-out;
}

// common border color
.form-element {

  input,
  textarea,
  select,
  .upload-box label {
    height: 35px;
    border: 1px solid $commonBorderColor;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 400;

    &:hover {
      border-color: $glow !important;
      box-shadow: 0 0 5px $glow !important;
    }

    &:focus {
      border-color: $success !important;
      box-shadow: 0 0 5px $glow !important;
      }
      }

      }

      // common status color design

.status span {
  padding: 5px 10px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
}

.status.status-active span {
  background-color: rgba(42, 255, 0, .7);
  color: #000000;
}

.status.status-deactive span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #000000;

}
.status.status-pending span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #303030;

}
.status.status-success span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733;
}

.status.status-approve span {
  background-color: rgba(3, 148, 135, 0.15);
  color: #039487;
}

.status.status-processing span {
  background-color: rgba(255, 221, 0, .15);
  color: #909308;
}
.status.status-shipped span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733;
}
.status.status-delivered span {
  background-color: rgba(68, 0, 255, 0.15);
  color: #081d93;
}

.status.status-danger span {
  background-color: rgba(226, 36, 84, 0.15);
  color: #e22454;

}


// alert box css
.alert-box{
  width: 500px;
margin-bottom: 30px;
 i {
  color: white;
  top: 50%;
  width: 30px;
  left: 15px;
  font-size: 30px;
  line-height: 28px;
  transform: translate(0%, -50%);
  height: 30px;
  background: red;
  border-radius: 50%;
}

.alert-list {
  color: #000000;
  padding: 20px;
  background: #FBFBED;
  border: 4px solid #ffa53b;
  border-left: 60px solid #ffa53b;
  border-radius: 2px;
  min-height: 150px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  h5{
    padding-bottom: 10px;
  }
  h6{
    padding-bottom: 5px;
  }
  li{
    padding-left: 20px;
  }
}

}
// common block-border
.border-block {
  // background-color: $lightColor1;
  background-color: $lightColor;
  // border: 2px solid $commonBorderColor1;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px #00000026;

  .label-text {
    margin-bottom: 24px;
  }
}

// submit button
.submit-btn {
  background-color: #019289;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  color: #fff;
}