@import "../variable/bgcolor";
@import "../variable/textcolor";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-family: 'Rubik', sans-serif;
}

i {
  display: inline-block;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 15px;
  background-color: #F6F7FB;
  color: $lightDarkColor;
  font-family: 'Public Sans',
  sans-serif;
  }

  .btn:focus {
    outline: 0;
    box-shadow: none;
}
// add or back button
.btn-back .btn-back-pos {
  top: -30px;
  right: -30px;
  width: 30px;
  border-radius: 20px 0 0 20px;
  transition: .6s;
  color: white;
  background-color: $sidebarBgColor;
  box-sizing: border-box;
}

.btn-back .btn-back-pos .combo {
  width: 150px;
  display: flex;

  align-items: center;
}

.btn-back .btn-back-pos:hover {
  width: 80px;
}

.btn-back .btn-back-pos i {
  font-size: 18px;
  padding: 5px 1px 5px 5px;
}

.btn-back a span {
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  transition: 0.6s ease-out;
}

// common border color
.form-element {

  input,
  textarea,
  select,
  .upload-box label {
    height: 35px;
    border: 1px solid $commonBorderColor;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 400;

    &:hover {
      border-color: $glow !important;
      box-shadow: 0 0 5px $glow !important;
    }

    &:focus {
      border-color: $success !important;
      box-shadow: 0 0 5px $glow !important;
      }
      }

      }

      // common status color design

      .status span {
        padding: 5px 10px;
        text-transform: capitalize;
        display: inline-block;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
      }

      .status.status-danger span {
        background-color: rgba(0, 0, 0, 0.15);
        color: #303030;

      }
.status.status-close span {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733;
}

.status.status-approve span {
  background-color: rgba(3, 148, 135, 0.15);
  color: #039487;
}

.status.status-processing span {
  background-color: rgba(255, 221, 0, .15);
  color: #909308;
}
.status.status-delivered span {
  background-color: rgba(68, 0, 255, 0.15);
  color: #081d93;
}

.status.status-cancel span {
  background-color: rgba(226, 36, 84, 0.15);
  color: #e22454;

}